# fly.toml app configuration file generated for momo-teacher on 2025-12-14T14:02:01+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'momo-teacher'
primary_region = 'sin'

[build]
  [build.args]
    SUPABASE_URL = "https://eowzkfkptpdpyzvabdox.supabase.co"
    SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvd3prZmtwdHBkcHl6dmFiZG94Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4ODQyODcsImV4cCI6MjA3OTQ2MDI4N30.Y6XakW0k5m9Abzzlvpnlhb9QaiaWPL20jI8g3AnKnAU"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
